{% extends 'base.html' %}
<!-- Title only for this site -->
{% block title %}Create Crone Job{% endblock %}

{% block content %}
	<!-- This content show only if user is logged in -->
	{% if user.is_authenticated %}
		<h2>Cron-Job erstellen</h2>

		<p class="text-justify">
			Fühlen Sie das folgende Formular aus, um einen Cron-Job anzulegen. Es werden sowohl http- als auch https- URLs unterstützt.
			Falls die URL mit HTTP-Authentifizierung gesichert ist (z.B. ".htaccess"-Passwortschutz), hinterlegen Sie bitte auch die entsprechenden
			Zugangsdaten, damit wir die Webseite korrekt abrufen können.
		</p>

		<p class="pb-4 text-justify">
			<em>Hinweis:</em> Weitere erweiterte Einstellungen für Ihren Cron-Job können Sie nach dem Anlegen
			vornehmen, indem Sie den Job bearbeiten.
		</p>

		<form method="POST">
			{% csrf_token %}

			<!-- START Title and Address -->
			<div class="title-http mb-4">

				<h5 class="pb-3">Titel und Addrese</h5>

				<div class="form-group">
					<input type="text" id="title" class="form-control" name="title" aria-describedby="title" placeholder="Titel" required autofocus>
				</div>
				<div class="form-group">
					<input type="text" id="url" class="form-control" name="url" placeholder="http://" required>
				</div>
			</div>
			<!-- END Title and Address -->

			<!-- START User and Password -->
			<div class="user-pass mb-4">
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="httpAuth" name="http">
					<label class="form-check-label" for="httpAuth"><strong>Erforder HTTP-Authentifizierung</strong></label>
				</div>
				<div class="form-group">
					<input type="text" name="username" class="form-control" id="user" aria-describedby="username" placeholder="Benutzername">
				</div>
				<div class="form-group">
					<input type="password" name="password" class="form-control" id="password" placeholder="Passwort">
				</div>
			</div>
			<!-- END User and Password -->

			<!-- START Execution -->
			<div class="execution mb-4">
				<h5 class="pb-3">Ausführung</h5>

				<div class="custom-form">
					<!-- START Minutes -->
					<div class="minutes custom-form_flex">
						<div class="form-check custom-form_radio-btn">
							<input class="form-check-input" type="radio" name="croneRadios" id="exampleRadios1" value="allCrone" checked>
							<label class="form-check-label wrap" for="exampleRadios1">
								Alle
							</label>
						</div>

						<div class="input-group mb-3 custom-label-width">
							<select class="custom-select minutes-select disabled" name="minutesCron"></select>
							<div class="input-group-append">
								<label class="input-group-text">Minute(n)</label>
							</div>
						</div>
					</div>
					<!-- END Minutes -->

					<hr>

					<!-- START Day -->
					<div class="hours custom-form_flex">
						<div class="form-check custom-form_radio-btn">
							<input class="form-check-input" type="radio" name="croneRadios" id="exampleRadios2" value="dayCrone">
							<label class="form-check-label wrap" for="exampleRadios2">
								Jeden Tag um
							</label>
						</div>

						<div class="input-group mb-3 custom-label-width mr-3">
							<select class="custom-select hours-select disabled" name="hoursDayCron"></select>
							<div class="input-group-append">
								<label class="input-group-text">Stunde(n)</label>
							</div>
						</div>

						<div class="input-group mb-3 custom-label-width">
							<select class="custom-select minutes-select disabled" name="minutesDayCron" ></select>
							<div class="input-group-append">
								<label class="input-group-text">Minute(n)</label>
							</div>
						</div>
					</div>
					<!-- END Day -->

					<hr>

					<!-- START Always -->
					<div class="months custom-form_flex">
						<div class="form-check custom-form_radio-btn">
							<input class="form-check-input" type="radio" name="croneRadios" id="exampleRadios3" value="alwaysCrone">
							<label class="form-check-label wrap">
								Immer am
							</label>
						</div>

						<div class="input-group mb-3 custom-label-width mr-3">
							<select class="custom-select month-select disabled" name="monthAlwaysCron"></select>
							<div class="input-group-append">
								<label class="input-group-text" for="inputGroupSelect02">des Monats</label>
							</div>
						</div>

						<div class="input-group mb-3 custom-label-width mr-3">
							<select class="custom-select hours-select disabled" name="hourAlwaysCron"></select>
							<div class="input-group-append">
								<label class="input-group-text">Stunde(n)</label>
							</div>
						</div>

						<div class="input-group mb-3 custom-label-width">
							<select class="custom-select minutes-select disabled" name="minutesAlwaysCron"></select>
							<div class="input-group-append">
								<label class="input-group-text">Minute(n)</label>
							</div>
						</div>

					</div>
					<!-- END Always -->

					<hr>
					<!-- START UserDef -->
					<div class="user-def custom-form_flex">
						<div class="form-check custom-form_radio-btn">
							<input class="form-check-input" type="radio" name="croneRadios" id="exampleRadios4" value="userCrone">
							<label class="form-check-label wrap" for="exampleRadios4">
								Benutzerdefiniert
							</label>
						</div>
						<div class="input-group mb-3 custom-label-width">
							<input type="text" class="form-control disabled" name="userDefCron" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<!-- END UserDef -->

				</div>
			</div>
			<!-- END Execution -->

			<!-- START Notifications -->
			<div class="notifications mb-4">
				<h5 class="pb-3">Benachrichtigungen</h5>
				<p>Mich per E-Mail benachrichtigen bei: </p>

				<div class="notifications_checks">
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="jobs" name="notificationJobs">
						<label class="form-check-label" for="jobs">Fehlschlag des Jobs</label>
					</div>

					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="error" name="notificationError">
						<label class="form-check-label" for="error">erfolgreichem Abruf nach vorherigem Fehlslag</label>
					</div>

					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="deactivate" name="notificationDeactivate">
						<label class="form-check-label" for="deactivate">automatischer Deaktivierung wegen zu vieler Fehlschläge</label>
					</div>
				</div>
			</div>
			<!-- END Notifications -->

			<!-- START General -->
			<div class="general mb-4">
				<h5 class="pb-3">Allgemein</h5>

				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="general" name="generalAnswer">
					<label class="form-check-label" for="general">Antwort speichern</label>
				</div>
			</div>
			<!-- END General -->

			<p class="pb-3 text-justify">
				Mit der Erstellung des Cron-Jobs erklären Sie, dass Sie entweder der Inhaber der abzurufenden Webseite
				sind oder im Einverständnis des Inhabers handeln.
			</p>

			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Cron-Job Erstellen</button>
		</form>
	{% else %}
		<h1>Bitte melden Sie sich an!</h1>
	{% endif %}

{% endblock %}
