{% extends 'base.html' %}

<!-- Title only for this site -->
{% block title %}Records{% endblock %}

{% block content %}
	<!-- This content show only if user is logged in -->
	{% if user.is_authenticated %}

		<h1 class="text-center pb-4">Eintragen</h1>
			<!-- Show only have some records in DB -->
			{% if all_records %}
				<table class="table table-hover">
					  <thead>
						<tr>
							<!-- CSS Counter for Count Rows -->
						  <th scope="col">#</th>
						  <th scope="col">Benutzer</th>
						  <th scope="col">Titel</th>
						  <th scope="col">Url</th>
						  <th scope="col">Cron</th>
						</tr>
					  </thead>
					<!-- Looped all records, came from views.py -->
					{% for record in all_records %}
					  <tbody>
						<tr >
						  <th scope="row"></th>
						  <td>{{ user.username }}</td>
						  <td>{{ record.title }}</td>
						  <td>{{ record.url }}</td>
						  <td>{{ record.cron }}</td>
						</tr>

					  </tbody>
					{% endfor %}
				</table>
			{% endif %}
	<!-- Fullback for not logged -->
	{% else %}
		<h1>Bitte melden Sie sich an!</h1>
	{% endif %}

{% endblock %}
