/*
* CUSTOM CSS
*/

.title-http,
.user-pass,
.execution,
.notifications,
.general {
	border: 1px solid cornflowerblue;
    padding: 1em;
	border-radius: .4em;
}

.custom-form_flex {
	display: flex;
}

.custom-form_radio-btn {
	padding-right: 1em;
    padding-top: .4em;
}

.hours .custom-label-width {
	width: 41%;
}

.months .custom-label-width {
	width: 27.8%;
}

.errorlist {
	display: none;
}

.custom-img {
	width: 80%;
}

table {
  counter-reset: tbody;
}

tbody th::before {
	counter-increment: tbody;
	content: counter(tbody) '.';
}

.online-user {
	align-self: center;
    padding-right: 2em;
}

.online-user__color {
	color: cornflowerblue;
	padding-right: .3em;
}
